.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-size: 30px;
}

.button {
    font-family: "UpheavalPro";
    appearance: none;
    font-size: 12px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 4px;

    &:focus-visible {
        outline: none;
    }
}
